{% extends "::base.html.twig" %}
{% block body %}

<div class="mws-panel grid_8">
                	<div class="mws-panel-header"><span class="mws-i-24 i-table-1">Lista de Propietarios</span>
                    </div>
        <div>
<div class="mws-panel-body">
                        
                        <div class="mws-panel-toolbar bottom clearfix">
                        	<ul>
                            	<li><a href="{{ path('propietarios_new') }}" class="mws-ic-16 ic-add">Alta de Propietario</a></li>
                            	
                            </ul>
                        </div>

<table class="mws-datatable-fn mws-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tipo_documento</th>
            <th>Numero_documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono_fijo</th>
            <th>Telefono_celular</th>
            <th>Contacto_auxiliar</th>
            <th>Observaciones</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('propietarios_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.tipodocumento }}</td>
            <td>{{ entity.numerodocumento }}</td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.apellido }}</td>
            <td>{{ entity.telefonofijo }}</td>
            <td>{{ entity.telefonocelular }}</td>
            <td>{{ entity.contactoauxiliar }}</td>
            <td>{{ entity.observaciones }}</td>
            <td>{{ entity.email }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('propietarios_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('propietarios_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

     </div>
                </div>
                

{% endblock %}